<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>SELIN</title>
</head>
<script>
  var _username = '{{_username}}';
</script>
<body>
    <div id="main"></div>
    <script src="/public/dist/erp.build.js"></script>
</body>
</html>
